a { color:#D51010; } 
a:visited { color:#D51010; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_20c0af32 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:449px; background-color:#000000; background: linear-gradient(to bottom, #404040, #000000);  }
#container_20c0af32_padding { margin: 10px; display: block;  }
.textstyle2 { text-align:center; }
.textstyle3 { font-size:36pt; font-family:Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', sans-serif-condensed, sans-serif; color:#FFFFFF;  }
#img_1e42030 { vertical-align: bottom; position:relative; display: inline-block; width:25%; background:none; height:auto;  }
.textstyle4 { font-size:32pt; font-family:Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', sans-serif-condensed, sans-serif; color:#FFFFFF;  }
.textstyle5 { font-size:14pt; font-family:Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', sans-serif-condensed, sans-serif; color:#FFFFFF;  }
#shapedivider_318d4fa8 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:32px; background:none;  }
#shapedivider_318d4fa8_padding { margin: 10px; display: block; position: relative;  }
.textstyle6 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_6cf5d1d2 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:162px; max-width:1200px; background:none;  }
#container_6cf5d1d2_padding { margin: 10px; display: block;  }
.textstyle7 { font-size:18pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_6208c637 { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none; border: 1px solid #404040;  }
#container_6208c637_padding { margin: 10px; display: block;  }
#img_7a716685 { vertical-align: bottom; position:relative; display: inline-block; width:10%; background:none; height:auto;  }
#img_24ad08ac { vertical-align: bottom; position:relative; display: inline-block; width:24%; background:none; height:auto;  }
.textstyle8 { font-size:18pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold;  }
.textstyle9 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold;  }
#container_372e6fb { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none; border: 1px solid #404040;  }
#container_372e6fb_padding { margin: 10px; display: block;  }
#img_7cd148eb { vertical-align: bottom; position:relative; display: inline-block; width:10%; background:none; height:auto;  }
#img_45c793e9 { vertical-align: bottom; position:relative; display: inline-block; width:27%; background:none; height:auto;  }
#container_41e9c75f { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none; border: 1px solid #404040;  }
#container_41e9c75f_padding { margin: 10px; display: block;  }
#img_769eeeb7 { vertical-align: bottom; position:relative; display: inline-block; width:9%; background:none; height:auto;  }
#img_149e2e75 { vertical-align: bottom; position:relative; display: inline-block; width:28%; background:none; height:auto;  }
#container_5a940f7f { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none; border: 1px solid #404040;  }
#container_5a940f7f_padding { margin: 10px; display: block;  }
#img_548ef2b6 { vertical-align: bottom; position:relative; display: inline-block; width:13%; background:none; height:auto;  }
#img_50693a0d { vertical-align: bottom; position:relative; display: inline-block; width:27%; background:none; height:auto;  }
#container_19d801ec { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none; border: 1px solid #404040;  }
#container_19d801ec_padding { margin: 10px; display: block;  }
#img_16807a67 { vertical-align: bottom; position:relative; display: inline-block; width:15%; background:none; height:auto;  }
#img_1d959c24 { vertical-align: bottom; position:relative; display: inline-block; width:30%; background:none; height:auto;  }
#img_749be54d { vertical-align: bottom; position:relative; display: inline-block; width:45%; background:none; height:auto;  }
#shapedivider_2424bc03 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:32px; background:none;  }
#shapedivider_2424bc03_padding { margin: 10px; display: block; position: relative;  }
#container_1f38b4ae { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:95px; background-color:#404040; background: linear-gradient(to bottom, #000000, #404040);  }
#container_1f38b4ae_padding { margin: 30px; display: block;  }
.textstyle10 { font-size:24pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
