a { color:#D51010; } 
a:visited { color:#D51010; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_3cacacad { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:449px; background-color:#000000; background: linear-gradient(to bottom, #404040, #000000);  }
#container_3cacacad_padding { margin: 10px; display: block;  }
.textstyle2 { text-align:center; }
.textstyle3 { font-size:36pt; font-family:Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', sans-serif-condensed, sans-serif; color:#FFFFFF;  }
#img_5ab68052 { vertical-align: bottom; position:relative; display: inline-block; width:25%; background:none; height:auto;  }
.textstyle4 { font-size:32pt; font-family:Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', sans-serif-condensed, sans-serif; color:#FFFFFF;  }
#shapedivider_3720dca3 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:32px; background:none;  }
#shapedivider_3720dca3_padding { margin: 10px; display: block; position: relative;  }
.textstyle5 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_63ce59bf { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:162px; max-width:1200px; background:none;  }
#container_63ce59bf_padding { margin: 10px; display: block;  }
.textstyle6 { font-size:18pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#shapedivider_13002dc2 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:32px; background:none;  }
#shapedivider_13002dc2_padding { margin: 10px; display: block; position: relative;  }
#container_38804bc0 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:95px; background-color:#404040; background: linear-gradient(to bottom, #000000, #404040);  }
#container_38804bc0_padding { margin: 30px; display: block;  }
.textstyle7 { font-size:24pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
