a { color:#D51010; } 
a:visited { color:#D51010; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_33fd6500 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:449px; background-color:#000000; background: linear-gradient(to bottom, #404040, #000000);  }
#container_33fd6500_padding { margin: 10px; display: block;  }
.textstyle2 { text-align:center; }
.textstyle3 { font-size:36pt; font-family:Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', sans-serif-condensed, sans-serif; color:#FFFFFF;  }
#img_37bc641c { vertical-align: bottom; position:relative; display: inline-block; width:25%; background:none; height:auto;  }
.textstyle4 { font-size:32pt; font-family:Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', sans-serif-condensed, sans-serif; color:#FFFFFF;  }
#shapedivider_4dbd81c7 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:32px; background:none;  }
#shapedivider_4dbd81c7_padding { margin: 10px; display: block; position: relative;  }
.textstyle5 { font-size:18pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold;  }
.textstyle6 { font-size:18pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
.textstyle7 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_4ae1bf1e { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:162px; max-width:1200px; background:none;  }
#container_4ae1bf1e_padding { margin: 10px; display: block;  }
#img_39d385 { vertical-align: bottom; position:relative; display: inline-block; width:45%; background:none; height:auto;  }
#shapedivider_30349247 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:32px; background:none;  }
#shapedivider_30349247_padding { margin: 10px; display: block; position: relative;  }
#container_649d76a8 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:95px; background-color:#404040; background: linear-gradient(to bottom, #000000, #404040);  }
#container_649d76a8_padding { margin: 30px; display: block;  }
.textstyle8 { font-size:24pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
