a { color:#D51010; } 
a:visited { color:#D51010; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_69316f42 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:449px; background-color:#000000; background: linear-gradient(to bottom, #404040, #000000);  }
#container_69316f42_padding { margin: 10px; display: block;  }
.textstyle2 { text-align:center; }
.textstyle3 { font-size:36pt; font-family:Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', sans-serif-condensed, sans-serif; color:#FFFFFF;  }
#img_5292000a { vertical-align: bottom; position:relative; display: inline-block; width:25%; background:none; height:auto;  }
.textstyle4 { font-size:32pt; font-family:Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', sans-serif-condensed, sans-serif; color:#FFFFFF;  }
#shapedivider_1b0e3570 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:32px; background:none;  }
#shapedivider_1b0e3570_padding { margin: 10px; display: block; position: relative;  }
.textstyle5 { font-size:18pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
.textstyle6 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#shapedivider_339cfa { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:32px; background:none;  }
#shapedivider_339cfa_padding { margin: 10px; display: block; position: relative;  }
#container_c142888 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:95px; background-color:#404040; background: linear-gradient(to bottom, #000000, #404040);  }
#container_c142888_padding { margin: 30px; display: block;  }
.textstyle7 { font-size:24pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
